/* Sisällön padding */
article {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Navbar */
.tuoteryhmalinkki {
  text-transform: uppercase;
}


/* Rekisteröitymis/kirjautumispainikkeet */
#kirjautuminen, #rekisteröityminen {
  color: black !important;
  font-weight: bold !important;
  text-decoration: none;
}
#kirjautuminen:hover, #rekisteröityminen:hover {
  text-decoration: underline;
}

/* Ostoskoripainike */
.fa-shopping-cart {
  color: red;
}
.fa-shopping-cart:hover {
  color: darkred;
}

/* Haku */
#haku {
  max-width: 350px;
  margin-left: 20px;
  margin-right: 20px;
}

#hakupainike {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  font-size: 20px;
  text-shadow: 0 0 5px #000000;
}
#kuvake {
  color: white;
}
#kuvake:hover {
  color: #000;
}


/* Etusivun tuotepalkille reunaviivat */
#tuotepalkki {
  border: 1px solid black;
}

/* Tuotekuvaus */
#tuotekuvaus {
  border: 1px solid black;
  width: 50%;
}

/* Kuvaus */
#kuvaus {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

/* Footer */
footer {
  color: white;
  padding: 10px;
}

div#tekijat > li {
  list-style: none;
}

#yllapitolinkki {
  color: white;
}


/* Popup style */
.popup-box {
  position: relative;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 60%;
  margin-top: 15px;
  height: auto;
  max-height: 70vh;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
/*.close-icon {
  content: 'x';
  cursor: pointer;
  float: right;
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
} */

.ZIndex {
  z-index: 100;
  position:absolute;
}

#r1{
  max-width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}
#rekisteroidy{
margin-top: 10px;
}

/* Ostoskori */
#ostoskori {
  width: fit-content;
}
#ostoskori li a {
  margin-right: 100px;
}

tr {
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
}
#poista_tuote {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
#poista_tuote:hover {
  color: darkred;
  font-weight: bold;
  text-decoration: underline;
}
/* Tuoteryhmäsivu */
.tuotepalkki {
  margin-left: 20px;
  background-color: bisque;
}

/*Ylläpito-sivu*/

.yll_loginform {
  margin: auto;
  width: 60%;
  padding: 3em;
}

.yll_loginrivi {
  padding-bottom: 20px;
}

#tuotelista {
  margin: 30px;
}