#hakulista {
    padding: 10px;
}

#tuotekuvaus {
    font-style: italic;
    border-style: none !important;
}

#tuotenimi {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#tuotenimi:hover {
    text-decoration: underline;
    color: gray;
}

#ryhmanimi {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: gray;
    text-decoration: none;
}

#tuotekuva {
    height: 200px;
    display: inline-block;
    background-color: white;
}

#hinta {
    font-weight: bolder;
    font-size: 23px;
}

 .osa {
    display: inline-block;

}

#tuotekpl {
    background-color: rgb(211, 208, 208);
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    display: inline-block; 
}

#ostoskori {
    font-size: 40px;
}

.fa-search {
    color: black;
}
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }